html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: lightgrey;
  font-family: Geneva, Verdana, sans-serif;
}

.page-container {
  padding: 5px;
  position: relative;
}

div[button-container] {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
